<div id="login-container">

    <div id="login-content">

        <h1>Login</h1>

        <form action="/login" method="POST">

            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" placeholder="Senhor_Fodese" /><br>

            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" /><br>

            <input type="submit" id="login" value="Login" />

        </form>

        <p>Or <a href="/login/new-account">create an account</a>!</p>

        <a id="cancel-btn" class="clickable">CANCEL</a>

    </div>

</div>