<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOGUEIRO</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    {{> login}}

    <header>BLOGUEIRO >>

        {{#if loginData.loggedIn}}

        <a href="/">Home</a> / <a href="/dashboard">Dashboard</a> / {{loginData.username}} <a
            href="/logout"><i>(logout)</i></a>

        {{else}}

        <a href="/">Home</a> / <a id="login-btn" class="clickable">Login</a>

        {{/if}}

    </header>

    <main>

        {{{body}}}

    </main>

    <script src="/js/main.js"></script>

</body>

</html>