<h1>DASHBOARD</h1>
<p>A post a day keeps the thoughts at bay...</p>

<form action="" method="POST">

    <label for="title">Post title:</label><br>
    <input type="text" id="title" name="title" placeholder="Snails" /><br>

    <label for="content">Post content:</label><br>
    <textarea id="content" name="content" placeholder="They really are the devil's work!"></textarea><br>

    <input type="submit" id="submit" value="Post" />

</form>

{{#each myBlogPosts}}
<section>
    <h2>{{this.title}}</h2>
    <p>{{this.content}}</p>
</section>
{{/each}}