<h2>WELCOME TO BLOGUEIRO. THE BEST 2001 STYLE FORUM ON THE INTERWEBS.</h2>
<p>Update: Tom and Tri have been banned as forum moderators.</p>

{{#each blogPosts}}
<section>
    <h2><a href="/blogpost/{{id}}">{{title}}</a></h2>
</section>
{{/each}}