body {

    width: 100vw;
    height: 100vh;
    margin: 0;

    font-family: calibri;
    font-size: 1rem;

}

header {

    height: 10%;
    padding: 2rem;
    background-color: green;

    color: white;

}

main {

    padding: 2rem;

}

section {

    background-color: aquamarine;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;

}

.comment {

    background-color: burlywood;
    padding: 1rem;
    margin: 2rem 1rem 1rem 1rem;
    border-radius: 1rem;

    transition: 1s margin-left;

}

.comment:hover {

    margin-left: 3rem;

}