body {

    width: 100vw;
    height: 100vh;
    margin: 0;

    font-family: "Calibri";
    font-size: 1rem;

}

h1,
h2,
h3 {

    letter-spacing: 0.2rem;

}

a {

    text-decoration: none;
    color: inherit;

}

header {

    height: 10%;
    padding: 2rem;
    background-color: darkslategray;

    color: white;

}

main {

    padding: 2rem;
    background-color: white;

}

section {

    background-color: rgb(93, 138, 132);
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;

    transition: 1s margin-left;

}

section:hover {

    margin-left: 2rem;

}

section a {

    color: white;

    transition: 1s color;

}

section a:hover {

    color: rgb(201, 201, 201);

}

.comment {

    background-color: rgb(93, 138, 132);
    padding: 1rem;
    margin: 2rem 1rem 1rem 1rem;
    border-radius: 1rem;

    transition: 1s margin-left;

}

.comment:hover {

    margin-left: 3rem;

}

#login-container {

    color: white;
    margin: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 5;
    opacity: 0;
    transition: 1s opacity;
}

#login-container h1 {

    letter-spacing: 1rem;

}

#login-content {

    background-color: darkslategrey;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 10rem darkslategrey;

}

.clickable {

    cursor: pointer;

}